
{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Casa Moderna</h1>
        <p>
            Casa moderna
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/icono.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}   